* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  color: #23292e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}
.fontFutura {
  font-family: 'Futura';
}
.fontUnicode {
  font-family: 'Futura Unicode';
}
::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3 {
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}
html .menu-opened {
  overflow: hidden!important;
  position: fixed;
}
body .open-menu {
  overflow: hidden;
}
body .open-menu header {
  z-index: 99999;
}
.container {
  width: 66.7%;
  padding: 0px 15px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0px 22px;
  }
}
header {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 47px;
  padding-bottom: 20px;
  z-index: 20;
  transition: all .3s;
}
header.fixed-menu {
  background: #ffffff;
  padding: 20px 0px;
  transition: all .3s;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
}
header.fixed-menu .logo-desk {
  background-color: #ffffff;
  background: no-repeat center center;
  background-size: 100%;
  transition: all .3s;
}
header.fixed-menu nav ul.contact li a {
  color: #000000;
  transition: all .3s;
}
@media (max-width: 768px) {
  header {
    background-image: linear-gradient(85deg, #05ddf3, #0c3abe);
    padding-top: 20px;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-desk {
  background-color: #ffffff;
  background: no-repeat center center;
  display: block;
  width: 250px;
  height: 37px;
  background-size: 100%;
  transition: all .3s;
}
@media (max-width: 768px) {
  header .logo-desk {
    display: none;
  }
}
header .logo-mob {
  display: none;
}
@media (max-width: 768px) {
  header .logo-mob {
    display: block;
    max-width: 40px;
  }
}
header nav {
  display: flex;
  align-items: center;
}
header nav .btn-back {
  width: 36px;
}
header nav .btn-back img {
  max-width: 100%;
}
header nav ul.contact {
  margin-right: 58px;
}
@media (max-width: 768px) {
  header nav ul.contact {
    display: none !important;
  }
}
header nav ul.contact li a {
  text-transform: uppercase;
  font-family: 'Futura';
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: all .3s;
}
@media (max-width: 991px) {
  header nav .btn-back {
    width: 25px;
  }
}
.language {
  float: left;
  margin-right: 60px;
  position: relative;
  z-index: 9999;
}
@media (max-width: 768px) {
  .language {
    display: block !important;
  }
}
.language a {
  display: flex;
  align-items: center;
}
.language a .flag {
  width: 23px;
  height: 23px;
  float: left;
  margin-right: 9px;
}
.language a .arrow-down {
  transition: all .3s;
  transform: rotate(0);
}
.language a .arrow-down.rotate {
  transition: all .3s;
  transform: rotate(180deg);
}
.language .drop-lang {
  position: absolute;
  top: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  height: 100px;
}
.language .drop-lang ul li {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.language .drop-lang ul li:last-child {
  margin-bottom: 0;
}
.language .drop-lang ul li a img {
  float: left;
  width: 23px;
}
.language .drop-lang.opened-drop {
  top: 35px;
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s;
}
.menu-mobile {
  display: none;
  padding-top: 115px;
  width: 50%;
  height: 100%;
  right: 0;
  position: fixed;
  background: #fff;
  z-index: 12;
  overflow: scroll;
}
@media (max-width: 768px) {
  .menu-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 11;
    overflow-x: auto;
    padding-top: 100px;
  }
}
.menu-mobile .menu-titulo {
  padding: 0 180px 0 110px;
}
@media (max-width: 768px) {
  .menu-mobile .menu-titulo {
    display: none;
  }
}
.menu-mobile .menu-titulo .logo {
  max-width: 50px;
  margin-bottom: 30px;
}
.menu-mobile .menu-titulo h3 {
  font-size: 30px;
  font-family: 'Futura';
  color: #5c5b62;
  font-weight: 500;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .menu-mobile .menu-titulo h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.menu-mobile .menu-titulo p {
  color: #5c5b62;
  font-size: 16px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .menu-mobile .menu-titulo p {
    font-size: 15px;
  }
}
.menu-mobile ul {
  margin: 0 auto;
  padding: 50px 150px 0 110px;
}
@media (max-width: 768px) {
  .menu-mobile ul {
    padding: 0px 40px;
  }
}
.menu-mobile ul li {
  text-align: center;
  padding: 11px 0;
}
.menu-mobile ul li a {
  display: block;
  color: #5c5b62;
  font-size: 18px;
  font-weight: 400;
  transition: all ease .3s;
}
@media (max-width: 768px) {
  .menu-mobile ul li a {
    font-size: 18px;
  }
}
.menu-mobile ul li a:hover {
  color: #05ddf3;
  font-weight: bold;
}
.menu-mobile ul li a:hover:after {
  content: ' ----- ';
  letter-spacing: -3px;
  margin-left: 15px;
}
.menu-mobile .redes {
  display: flex;
  padding: 60px 150px 0 110px;
}
@media (max-width: 768px) {
  .menu-mobile .redes {
    padding: 60px 40px 0 40px;
  }
}
.menu-mobile .redes i {
  color: rgba(92, 91, 98, 0.43);
  font-size: 19px;
  margin-right: 15px;
  transition: all ease .3s;
}
.menu-mobile .redes i:hover {
  color: #05ddf3;
}
.menu-mobile .text-direitos {
  color: #5c5b62;
  font-size: 14px;
  display: block;
  width: 40%;
  padding: 25px 0 25px 110px;
}
@media (max-width: 768px) {
  .menu-mobile .text-direitos {
    padding: 25px 40px;
    width: 60%;
  }
}
.featured-area {
  background-color: #181355;
  background: no-repeat center center;
  height: 1764px;
  padding-top: 209px;
  background-size: cover;
  position: relative;
}
@media (max-width: 768px) {
  .featured-area {
    padding-top: 169px;
    background-size: cover;
    height: auto;
  }
}
.featured-area .chart {
  position: absolute;
  left: 0;
  top: 515px;
}
.featured-area .featured-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.featured-area .featured-text h1,
.featured-area .featured-text h2 {
  text-transform: uppercase;
  font-family: 'Futura';
}
.featured-area .featured-text h2 {
  color: #ffffff;
  font-size: 64px;
  font-weight: normal;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .featured-area .featured-text h2 {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .featured-area .featured-text h2 {
    font-size: 32px;
    letter-spacing: 2.5px;
  }
}
.featured-area .featured-text h1 {
  width: 100%;
  height: 115px;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.featured-area .featured-text h1 span {
  font-family: 'Futura';
  font-size: 96px;
  font-weight: 500;
  letter-spacing: 8.7px;
  color: #05ddf3 !important;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
}
.featured-area .featured-text h1.rw-words {
  display: inline;
  text-indent: 10px;
}
.featured-area .featured-text h1.rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.featured-area .featured-text h1.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
.featured-area .featured-text h1.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.featured-area .featured-text h1.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}
.featured-area .featured-text h1.rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
.featured-area .featured-text h1.rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
}
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.featured-area .featured-text p {
  max-width: 576px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 127px;
}
@media (max-width: 768px) {
  .featured-area .featured-text p {
    font-size: 20px;
    margin-bottom: 58px;
  }
}
@media (max-width: 480px) {
  .featured-area .featured-text p {
    font-size: 14px;
  }
}
.featured-area .featured-text p strong {
  color: #ffffff;
}
.featured-area .featured-text .mouse {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-area .featured-text .mouse .icon {
  display: block;
  margin-bottom: 14px;
  -webkit-animation: vertical-animate 1.5s infinite alternate;
  -moz-animation: vertical-animate 1.5s infinite alternate;
  -animation: vertical-animate 1.5s infinite alternate;
}
.featured-area .featured-text .mouse span {
  font-size: 14px;
  font-weight: normal;
  color: #17e7f6;
}
.featured-area .text-integration {
  position: relative;
  margin-top: 355px;
}
@media (max-width: 480px) {
  .featured-area .text-integration {
    margin-top: 186px;
  }
}
.featured-area .text-integration .text {
  max-width: 616px;
}
.featured-area .text-integration .text strong {
  display: block;
  font-family: 'Futura';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #17e7f6;
  text-transform: uppercase;
  margin-bottom: 41px;
}
@media (max-width: 768px) {
  .featured-area .text-integration .text strong {
    text-align: center;
    margin-bottom: 18px;
  }
}
.featured-area .text-integration .text h4 {
  font-family: 'Futura';
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}
@media (max-width: 768px) {
  .featured-area .text-integration .text h4 {
    font-size: 22px;
    text-align: center;
  }
}
.featured-area .text-integration .text h2 {
  font-family: 'Futura Unicode';
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -0.8px;
  color: #ffffff;
  line-height: 95px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .featured-area .text-integration .text h2 {
    font-size: 72px;
  }
}
@media (max-width: 768px) {
  .featured-area .text-integration .text h2 {
    font-size: 44px;
    text-align: center;
    line-height: 50px;
  }
}
@media (max-width: 480px) {
  .featured-area .text-integration .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
}
.featured-area .text-integration .text .info {
  display: flex;
  align-items: flex-start;
}
.featured-area .text-integration .text .info span.dot-desk {
  opacity: 0.4;
  font-family: 'Futura';
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #ffffff;
  margin-right: 22px;
  margin-top: 18px;
}
@media (max-width: 768px) {
  .featured-area .text-integration .text .info span.dot-desk {
    display: none;
  }
}
.featured-area .text-integration .text .info span.dot-mob {
  display: none;
}
@media (max-width: 768px) {
  .featured-area .text-integration .text .info span.dot-mob {
    display: block;
    opacity: 0.4;
    font-family: 'Futura';
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-right: 29px;
    margin-top: 18px;
  }
}
@media (max-width: 768px) {
  .featured-area .text-integration .text .info .plataform {
    width: 65%;
  }
}
.featured-area .text-integration .text .info .plataform h3 {
  font-family: 'Futura Unicode';
  font-size: 50px;
  font-weight: bold;
  color: #05ddf3;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .featured-area .text-integration .text .info .plataform h3 {
    font-size: 38px;
  }
}
.featured-area .text-integration .text .info .plataform p {
  font-family: 'Futura';
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}
@media (max-width: 768px) {
  .featured-area .text-integration .text .info .plataform p {
    font-size: 28px;
  }
}
.featured-area .text-integration .text .btn-contact {
  display: flex;
  align-items: center;
  margin-top: 40px;
  position: relative;
  z-index: 29;
}
.featured-area .text-integration .text .btn-contact img {
  margin-right: 15px;
}
.featured-area .text-integration .text .btn-contact span {
  color: #18d9f3;
  font-weight: 500;
  letter-spacing: 1px;
}
.featured-area .text-integration .peoples {
  position: absolute;
  top: 0;
  right: 145px;
}
@media (max-width: 1024px) {
  .featured-area .text-integration .peoples {
    right: -52px;
  }
}
@media (max-width: 768px) {
  .featured-area .text-integration .peoples {
    left: -50%;
    position: relative;
    max-width: 180%;
    margin-top: 50px;
    margin-bottom: -45px;
  }
}
@media (max-width: 560px) {
  .featured-area .text-integration .peoples {
    left: -85%;
  }
}
.featured-area .arrow {
  display: block;
  margin-top: 116px;
}
@media (max-width: 768px) {
  .featured-area .arrow {
    display: none;
  }
}
.featured-area .arrow-mob {
  display: none;
}
@media (max-width: 768px) {
  .featured-area .arrow-mob {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 10%;
  }
}
@media (max-width: 1440px) {
  .featured-area .chart {
    width: 1500px;
    left: 0;
    top: 575px;
  }
  .featured-area .featured-text p {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .featured-area .chart {
    width: 900px;
    top: 520px;
  }
  .featured-area .featured-text h1 {
    height: 68px;
  }
  .featured-area .featured-text h1 span {
    font-size: 54px;
  }
}
@media (max-width: 480px) {
  .featured-area {
    background-position: 50%;
  }
  .featured-area .featured-text h1 {
    overflow: initial;
  }
  .featured-area .featured-text h1.rw-words-1 {
    height: 120px;
  }
  .featured-area .featured-text h1.rw-words-1 span {
    font-size: 47px;
    letter-spacing: 4px;
    left: -7px;
  }
  .featured-area .featured-text h1.rw-words-1 span:nth-child(2),
  .featured-area .featured-text h1.rw-words-1 span:nth-child(5) {
    font-size: 39px;
  }
}
.s-integrate-system {
  position: relative;
  padding-bottom: 110px;
}
@media (max-width: 768px) {
  .s-integrate-system {
    margin-top: 67px;
    padding-bottom: 58px;
  }
}
.s-integrate-system .effect {
  position: absolute;
  left: 0;
  bottom: -200px;
}
@media (max-width: 768px) {
  .s-integrate-system .effect {
    bottom: 63%;
  }
}
.s-integrate-system .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .s-integrate-system .container {
    display: block;
  }
}
.s-integrate-system .ilustration {
  width: 761px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  margin-left: -160px;
}
@media (max-width: 768px) {
  .s-integrate-system .ilustration {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
}
.s-integrate-system .ilustration .box-blue {
  position: relative;
  width: 213px;
  height: 213px;
  border-radius: 21px;
  background-image: linear-gradient(61deg, #05ddf3, #0c3abe);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;
}
.s-integrate-system .ilustration .box-blue img {
  max-width: 75%;
}
.s-integrate-system .ilustration .box-blue p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  max-width: 155px;
  margin-top: 20px;
}
.s-integrate-system .ilustration .industry {
  width: 100%;
}
.s-integrate-system .text {
  margin-top: 140px;
  width: 490px;
}
@media (max-width: 768px) {
  .s-integrate-system .text {
    margin-top: 75px;
    width: 100%;
  }
}
.s-integrate-system .text h2 {
  max-width: 373px;
  background-image: linear-gradient(245deg, #05ddf3, #0c3abe);
  font-family: 'Futura';
  font-size: 44px;
  font-weight: 500;
  line-height: 1.11;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .s-integrate-system .text h2 {
    text-align: center;
    margin: 0 auto 32px auto;
  }
}
.s-integrate-system .text .line {
  display: block;
  margin-bottom: 25px;
  margin-left: -95px;
}
@media (max-width: 768px) {
  .s-integrate-system .text .line {
    margin: 0 0 25px 90px;
  }
}
.s-integrate-system .text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .s-integrate-system .text p {
    text-align: center;
  }
}
.s-integrate-system .text p span {
  color: #5c5b62;
}
.s-integrate-system .text p strong {
  color: #5c5b62;
}
.s-integrate-system .text ul {
  margin-top: 44px;
}
.s-integrate-system .text ul li {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .s-integrate-system .text ul li {
    margin-bottom: 20px;
  }
}
.s-integrate-system .text ul li .circle {
  width: 6px;
  height: 6px;
  background-color: #05ddf3;
  border-radius: 50%;
  margin-right: 21px;
}
.s-integrate-system .text ul li span {
  line-height: 1.5;
  color: #5c5b62;
}
.s-integrate-system .text a {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.s-integrate-system .text a span {
  color: #18d9f3;
  font-weight: 500;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .s-integrate-system .text a {
    display: block;
    text-align: center;
  }
}
.s-integrate-system .text a img {
  margin-right: 15px;
}
@media (max-width: 1440px) and (min-width: 769px) {
  .s-integrate-system .ilustration {
    width: 600px;
    margin-left: -80px;
    margin-right: 30px;
  }
}
.s-pillars {
  background-color: #2355BF;
  position: relative;
  background: no-repeat center center;
  height: 1212px;
}
@media (max-width: 768px) {
  .s-pillars {
    height: auto;
    padding-bottom: 30px;
    background-size: cover;
  }
}
.s-pillars .text-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 89px;
  padding-top: 12px;
}
@media (max-width: 768px) {
  .s-pillars .text-info {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
}
.s-pillars .text-info img {
  margin-right: 26px;
}
@media (max-width: 768px) {
  .s-pillars .text-info img {
    margin: 50px 0 0 0;
  }
}
.s-pillars .text-info p {
  font-family: 'Futura';
  max-width: 448px;
  font-size: 23px;
  line-height: 1.35;
  color: #ffffff;
}
@media (max-width: 768px) {
  .s-pillars .text-info p {
    text-align: center;
    margin-top: 21px;
    font-size: 22px;
    max-width: 100%;
  }
}
.s-pillars .text-info p strong {
  font-family: 'Futura Unicode';
  color: #ffffff;
}
.s-pillars .text-geral {
  max-width: 558px;
}
@media (max-width: 768px) {
  .s-pillars .text-geral {
    max-width: 100%;
  }
}
.s-pillars .text-geral h2 {
  max-width: 490px;
  background-image: linear-gradient(66deg, #055af3, #05ddf3);
  font-family: 'Futura';
  font-size: 44px;
  font-weight: 500;
  line-height: 1.23;
  letter-spacing: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 46px;
}
@media (max-width: 768px) {
  .s-pillars .text-geral h2 {
    max-width: 100%;
    font-size: 28px;
    text-align: center;
    margin-bottom: 23px;
  }
}
@media (max-width: 320px) {
  .s-pillars .text-geral h2 {
    font-size: 25px;
  }
}
.s-pillars .text-geral ul {
  margin-left: -23px;
}
@media (max-width: 768px) {
  .s-pillars .text-geral ul {
    margin-left: 0;
  }
}
.s-pillars .text-geral ul li {
  overflow: hidden;
  padding: 15px 36px 20px 23px;
  border: solid 1px transparent;
  cursor: pointer;
  transition: all .5s;
}
@media (max-width: 768px) {
  .s-pillars .text-geral ul li {
    padding: 15px;
  }
}
.s-pillars .text-geral ul li.active {
  border-radius: 6px;
  border: solid 1px #05ddf3;
  transition: all .5s;
}
.s-pillars .text-geral ul li.active .title h3 {
  font-weight: bold;
  font-family: 'Futura Unicode';
  transition: all .5s;
}
.s-pillars .text-geral ul li.active p {
  margin-top: 24px;
  opacity: 1;
  height: auto;
  transition: all .5s;
}
@media (max-width: 768px) {
  .s-pillars .text-geral ul li.active p {
    height: auto;
  }
}
.s-pillars .text-geral ul li:last-child {
  margin-bottom: 0px;
}
.s-pillars .text-geral ul li .title {
  display: flex;
  align-items: center;
}
.s-pillars .text-geral ul li .title .circle {
  width: 9px;
  height: 9px;
  background-color: #05ddf3;
  border-radius: 50%;
  margin-right: 23px;
}
.s-pillars .text-geral ul li .title h3 {
  font-family: 'Futura';
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
@media (max-width: 768px) {
  .s-pillars .text-geral ul li .title h3 {
    font-size: 18px;
  }
}
.s-pillars .text-geral ul li p {
  max-width: 469px;
  font-size: 15px;
  line-height: 1.53;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 0px;
  opacity: 0;
  height: 0;
  transition: all .5s;
}
@media (max-width: 320px) {
  .s-pillars .text-geral ul li p {
    font-size: 13px;
  }
}
.s-pillars .pillars-geral {
  width: 1069.2px;
  height: 1069.2px;
  position: absolute;
  top: 106px;
  right: 61.8px;
}
@media (max-width: 1024px) {
  .s-pillars .pillars-geral {
    display: none;
  }
}
.s-pillars .pillars-geral .oval {
  background-color: #ffffff;
  background: no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 3s;
}
.s-pillars .pillars-geral .circle-logo {
  width: 295.9px;
  height: 295.9px;
  background-image: linear-gradient(231deg, #e5ebfc, #ffffff 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -147.95px;
  margin-left: -147.95px;
  z-index: 5;
}
.s-pillars .pillars-geral .circle-logo img {
  display: block;
  max-width: 75%;
  margin: 0 auto;
}
.s-pillars .pillars-geral .circle-logo span {
  font-family: 'Futura';
  font-size: 12.4px;
  font-weight: 500;
  letter-spacing: 5.5px;
  color: #05DDF3;
}
.s-pillars .pillars-geral ul {
  width: 580px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -290px;
  margin-top: -290px;
}
.s-pillars .pillars-geral ul li {
  position: absolute;
  width: 79.2px;
  height: 79.2px;
  box-shadow: 0 8px 10px 0 rgba(55, 74, 110, 0.14);
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  transform: scale(1);
  transition: all .4s;
  cursor: pointer;
}
.s-pillars .pillars-geral ul li.active {
  transform: scale(1.5);
  transition: all .4s;
  filter: grayscale(0%);
}
.s-pillars .pillars-geral ul li img {
  max-width: 47px;
}
.s-pillars .pillars-geral ul li:first-child {
  left: 50%;
  margin-left: -39.5px;
  top: -30px;
}
.s-pillars .pillars-geral ul li:nth-child(2) {
  right: 75px;
  top: 30px;
}
.s-pillars .pillars-geral ul li:nth-child(2) img {
  max-width: 37px;
}
.s-pillars .pillars-geral ul li:nth-child(3) {
  right: -25px;
  top: 180px;
}
.s-pillars .pillars-geral ul li:nth-child(4) {
  right: -10px;
  top: 360px;
}
.s-pillars .pillars-geral ul li:nth-child(5) {
  right: 100px;
  bottom: 10px;
}
.s-pillars .pillars-geral ul li:nth-child(5) img {
  max-width: 27px;
}
.s-pillars .pillars-geral ul li:nth-child(6) {
  bottom: -25px;
  left: 190px;
}
.s-pillars .pillars-geral ul li:nth-child(7) {
  bottom: 80px;
  left: 35px;
}
.s-pillars .pillars-geral ul li:nth-child(8) {
  top: 230px;
  left: -30px;
}
.s-pillars .pillars-geral ul li:last-child {
  left: 60px;
  top: 40px;
}
@media (max-width: 1440px) and (min-width: 1023px) {
  .s-pillars .text-info p {
    max-width: 397px;
  }
  .s-pillars .text-geral {
    max-width: 500px;
  }
  .s-pillars .text-geral ul li.active p {
    height: 115px;
  }
  .s-pillars .pillars-geral {
    width: 885.2px;
    height: 1075px;
    top: 100px;
    right: -40px;
  }
}
@media (max-width: 1440px) {
  .s-pillars .text-geral h2 {
    font-size: 39px;
    margin-bottom: 30px;
    max-width: 440px;
  }
  .s-pillars .text-geral ul li.active p {
    height: auto;
    font-size: 14px;
    margin-top: 10px;
  }
  .s-pillars .text-geral ul li p {
    font-size: 14px;
  }
}
.s-featured {
  background-color: #9572B6;
  position: relative;
  background: no-repeat center center;
  padding: 107px 0px 193px 0px;
  background-size: cover;
}
@media (max-width: 768px) {
  .s-featured {
    padding: 56px 0px 150px 0px;
  }
}
.s-featured:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(to right, #6335af 0, #18d9f3);
}
.s-featured .container {
  position: relative;
}
@media (max-width: 768px) {
  .s-featured .container {
    width: 100%;
    padding-right: 0;
    padding-left: 30px;
  }
}
.s-featured .btn {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .s-featured .btn {
    display: none;
  }
}
.s-featured .btn.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.s-featured .btn.btn-prev {
  left: -33px;
}
.s-featured .btn.btn-next {
  right: -33px;
}
.s-featured h1 {
  font-family: 'Futura';
  font-size: 44px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .s-featured h1 {
    font-size: 40px;
    padding-right: 30px;
  }
}
.s-featured .line {
  display: block;
  margin: 0 auto;
  margin-bottom: 81px;
}
@media (max-width: 768px) {
  .s-featured .line {
    margin-bottom: 46px;
    padding-right: 30px;
  }
}
.s-featured .slide-featured {
  position: relative;
  overflow: hidden;
}
.s-featured .slide-featured .box-white {
  width: 100%;
  height: 385px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 49px;
  cursor: pointer;
}
.s-featured .slide-featured .box-white h2 {
  background-image: linear-gradient(253deg, #05ddf3, #0c3abe);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-family: 'Futura';
}
.s-featured .slide-featured .box-white p {
  text-align: center;
  max-width: 213px;
  line-height: 1.53;
  font-size: 15px;
  color: #5c5b62;
}
.s-featured .slide-featured .swiper-pagination {
  position: relative;
  bottom: 0;
  margin-top: 55px;
}
.s-featured .slide-featured .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.48;
  background-color: #ffffff;
  margin: 0px 10px;
}
.s-featured .slide-featured .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.s-modules {
  padding-bottom: 118px;
  background-image: linear-gradient(121deg, rgba(255, 255, 255, 0), rgba(216, 226, 245, 0.4));
}
@media (max-width: 768px) {
  .s-modules {
    padding-bottom: 35px;
  }
}
.s-modules .box-demo {
  background-color: #0DBAEA;
  background: no-repeat center center;
  width: 100%;
  height: 142px;
  background-size: 100%;
  margin-top: -100px;
  position: relative;
  margin-bottom: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .s-modules .box-demo {
    height: auto;
    background-size: cover;
    display: block;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 61px;
  }
}
.s-modules .box-demo .title {
  display: flex;
  align-items: center;
  margin-right: 55px;
}
@media (max-width: 768px) {
  .s-modules .box-demo .title {
    margin-right: 0;
  }
}
.s-modules .box-demo .title img {
  display: block;
  margin-right: 54px;
}
@media (max-width: 768px) {
  .s-modules .box-demo .title img {
    margin-right: 15px;
    max-width: 30%;
  }
}
.s-modules .box-demo .title h2 {
  width: 295px;
  font-family: 'Futura';
  font-size: 30px;
  font-weight: 500;
  line-height: 1.8;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .s-modules .box-demo .title h2 {
    font-size: 18px;
  }
}
.s-modules .box-demo .btn {
  font-family: 'Futura';
  width: 290px;
  height: 60px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #40446d;
  font-weight: 500;
  transform: scale(1);
  transition: all .3s;
}
.s-modules .box-demo .btn:hover {
  transform: scale(1.03);
  transition: all .3s;
}
@media (max-width: 768px) {
  .s-modules .box-demo .btn {
    width: 100%;
    margin-top: 30px;
  }
}
.s-modules .subtitle {
  font-family: 'Futura';
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 13px;
  width: 153px;
  height: 36px;
  opacity: 0.6;
  border-radius: 18px;
  background-color: #eae8f1;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #9898a7;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 500;
}
.s-modules h3 {
  background-image: linear-gradient(263deg, #05ddf3, #0c3abe);
  font-family: 'Futura';
  font-size: 32px;
  font-weight: 500;
  line-height: 1.53;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 44px;
}
.s-modules .area-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .s-modules .area-slide {
    flex-direction: column-reverse;
  }
}
.s-modules .area-slide .slide-screens {
  position: relative;
  overflow: hidden;
  width: 877px;
  margin-left: -140px;
}
@media (max-width: 768px) {
  .s-modules .area-slide .slide-screens {
    width: 100%;
    margin-left: 0;
    margin-top: 54px;
  }
}
.s-modules .area-slide .slide-screens img {
  max-width: 100%;
}
.s-modules .area-slide .slide-itens-modules {
  position: relative;
  width: 446px;
  height: 530px;
}
@media (max-width: 768px) {
  .s-modules .area-slide .slide-itens-modules {
    width: 100%;
    height: auto;
  }
}
.s-modules .area-slide .slide-itens-modules .swiper-slide {
  height: 34px !important;
  transition: all .3s;
  cursor: pointer;
  overflow: hidden;
}
.s-modules .area-slide .slide-itens-modules .swiper-slide.swiper-slide-thumb-active {
  height: auto !important;
  transition: all .4s;
}
.s-modules .area-slide .slide-itens-modules .swiper-slide.swiper-slide-thumb-active .box-module {
  padding-top: 21px;
  background-color: #ffffff;
  height: 100%;
  box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.04);
  transition: all .4s;
}
.s-modules .area-slide .slide-itens-modules .swiper-slide.swiper-slide-thumb-active .box-module p {
  opacity: 1;
  height: auto;
  transition: all .4s;
}
.s-modules .area-slide .slide-itens-modules .swiper-slide .box-module {
  width: 100%;
  border-radius: 5px;
  box-shadow: 7px 17px 0 transparent;
  background-color: transparent;
  padding: 31px 28px;
  padding-top: 0px;
  transition: all .4s;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .s-modules .area-slide .slide-itens-modules .swiper-slide .box-module {
    padding: 20px 18px;
    height: auto !important;
  }
}
.s-modules .area-slide .slide-itens-modules .swiper-slide .box-module .title {
  display: flex;
  align-items: center;
}
.s-modules .area-slide .slide-itens-modules .swiper-slide .box-module .title img {
  margin-right: 23px;
}
@media (max-width: 480px) {
  .s-modules .area-slide .slide-itens-modules .swiper-slide .box-module .title img {
    margin-right: 15px;
  }
}
.s-modules .area-slide .slide-itens-modules .swiper-slide .box-module .title h4 {
  background-image: linear-gradient(to left, #05ddf3, #0c3abe);
  font-family: 'Futura';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 480px) {
  .s-modules .area-slide .slide-itens-modules .swiper-slide .box-module .title h4 {
    font-size: 19px;
  }
}
.s-modules .area-slide .slide-itens-modules .swiper-slide .box-module p {
  margin-left: 41px;
  margin-top: 10px;
  color: #5c5b62;
  font-size: 15px;
  line-height: 1.4;
  font-family: 'Futura';
  opacity: 0;
  height: 0;
  transition: all .4s;
}
@media (max-width: 1024px) {
  .s-modules .area-slide .slide-itens-modules .swiper-slide .box-module p {
    height: auto !important;
  }
}
.s-modules .area-slide .slide-itens-modules .swiper-slide .box-module .img-mob {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  display: none;
}
@media (max-width: 1600px) and (min-width: 769px) {
  .s-modules .area-slide .slide-screens {
    width: 740px;
    margin-left: -90px;
  }
}
@media (max-width: 768px) {
  .s-modules .area-slide .slide-itens-modules .swiper-wrapper {
    display: flex;
    flex-direction: column;
    height: 100% !important;
  }
  .s-modules .area-slide .slide-itens-modules .swiper-wrapper .swiper-slide {
    height: auto !important;
  }
  .s-modules .area-slide .slide-itens-modules .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
    height: auto !important;
  }
  .s-modules .area-slide .slide-itens-modules .swiper-wrapper .swiper-slide.swiper-slide-thumb-active .box-module p {
    position: relative;
    opacity: 1;
    pointer-events: all;
  }
  .s-modules .area-slide .slide-itens-modules .swiper-wrapper .swiper-slide.swiper-slide-thumb-active .box-module .img-mob {
    display: block;
  }
  .s-modules .area-slide .slide-itens-modules .swiper-wrapper .swiper-slide .box-module {
    overflow: hidden;
  }
  .s-modules .area-slide .slide-itens-modules .swiper-wrapper .swiper-slide .box-module p {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .s-modules .area-slide .slide-screens {
    display: none;
  }
}
.s-depoiments {
  background-color: #2D1184;
  background: no-repeat center center;
  padding: 133px 0px 128px 0px;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  .s-depoiments {
    padding: 79px 0 69px 0;
  }
}
.s-depoiments .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-depoiments p {
  text-align: center;
  width: 1000px;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 40px;
  font-family: 'Futura';
}
@media (max-width: 1024px) and (min-width: 769px) {
  .s-depoiments p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .s-depoiments p {
    font-size: 22px;
    width: 100%;
    margin-bottom: 53px;
  }
}
.s-depoiments .icon {
  display: block;
  margin-bottom: 22px;
}
.s-depoiments span {
  font-size: 18px;
  font-family: 'Futura';
  color: #ffffff;
}
@media (max-width: 768px) and (min-width: 481px) {
  .s-depoiments span {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .s-depoiments span {
    width: 70%;
    text-align: center;
  }
}
.s-partners {
  position: relative;
  padding: 130px 0px 126px 0px;
}
@media (max-width: 768px) {
  .s-partners {
    padding: 70px 0px 126px 0px;
  }
}
.s-partners .line-partners {
  position: absolute;
  top: -80px;
  left: 0;
  display: block;
  max-width: 100%;
}
@media (max-width: 768px) {
  .s-partners .line-partners {
    top: -43px;
    left: -400px;
    max-width: 300%;
  }
}
.s-partners h1 {
  background-image: linear-gradient(265deg, #05ddf3, #0c3abe);
  font-family: 'Futura';
  font-size: 32px;
  font-weight: 500;
  line-height: 1.53;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 28px;
}
.s-partners .line {
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
}
.s-partners .slide-text-partners {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.s-partners .slide-text-partners p {
  max-width: 1060px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #5c5b62;
  margin: 0 auto;
  margin-bottom: 46px;
  font-family: 'Futura';
}
.s-partners .slide-text-partners h3,
.s-partners .slide-text-partners span {
  text-align: center;
  display: block;
}
.s-partners .slide-text-partners h3 {
  font-family: 'Futura';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #11c0d8;
  margin-bottom: 10px;
}
.s-partners .slide-text-partners span {
  opacity: 0.8;
  font-family: 'Futura';
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #5c5b62;
}
.s-partners .slide-logos {
  position: relative;
  overflow: hidden;
  width: 720px;
  margin: 0 auto;
  margin-top: 57px;
}
.s-partners .slide-logos .swiper-wrapper {
  display: flex;
  align-items: center;
}
.s-partners .slide-logos .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .s-partners .slide-logos .swiper-slide {
    width: 100%;
    display: flex;
  }
}
.s-partners .slide-logos .swiper-slide img {
  filter: grayscale(100%);
  transition: all .4s;
  max-width: 113px;
}
@media (max-width: 480px) {
  .s-partners .slide-logos .swiper-slide img {
    max-width: 90px;
  }
}
.s-partners .slide-logos .swiper-slide.swiper-slide-thumb-active img {
  filter: grayscale(0%);
  transition: all .4s;
}
@media (max-width: 480px) {
  .s-partners {
    padding: 70px 0 80px 0;
  }
  .s-partners .slide-logos {
    width: 100%;
  }
  .s-partners .slide-logos .swiper-wrapper {
    flex-direction: column;
  }
  .s-partners .slide-logos .swiper-slide {
    height: 80px;
  }
  .s-partners .slide-logos .swiper-slide img {
    max-width: 140px;
  }
}
.s-blog {
  background-color: #05B0E1;
  background: no-repeat center center;
  padding: 109px 0px 166px 0px;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  .s-blog {
    background-color: #ffffff;
    background: no-repeat top left;
    padding: 74px 0px 94px 0px;
  }
}
.s-blog .seal {
  width: 104px;
  height: 36px;
  opacity: .71;
  border-radius: 18px;
  background-color: #05cdee;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Futura';
  margin-bottom: 10px;
}
.s-blog h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.53;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
  font-family: 'Futura';
}
@media (max-width: 768px) {
  .s-blog h2 {
    font-size: 25px;
    margin-bottom: 53px;
  }
}
.s-blog .all-posts {
  position: relative;
  overflow: hidden;
}
.s-blog .all-posts .box-post {
  width: 100%;
}
.s-blog .all-posts .box-post:hover a .img img {
  transform: scale(1.2);
  transition: all .4s;
}
.s-blog .all-posts .box-post a .img {
  border-radius: 7px;
  width: 100%;
  height: 179px;
  margin-bottom: 31px;
  overflow: hidden;
}
.s-blog .all-posts .box-post a .img img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1);
  transition: all .4s;
}
.s-blog .all-posts .box-post a p {
  max-width: 278px;
  font-family: 'Futura';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}
.s-blog .all-posts .swiper-pagination {
  position: relative;
  bottom: 0;
  margin-top: 55px;
}
.s-blog .all-posts .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.48;
  background-color: #ffffff;
  margin: 0px 10px;
}
.s-blog .all-posts .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
footer {
  background-color: #320E88;
  position: relative;
  background: no-repeat center center;
  padding: 82px 0px 117px 0px;
  background-size: cover;
}
footer .arrow {
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -46px;
}
footer h1 {
  font-family: 'Futura';
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin-bottom: 41px;
}
@media (max-width: 768px) {
  footer h1 {
    font-size: 42px;
    margin-bottom: 24px;
  }
}
footer p {
  opacity: 0.8;
  font-family: 'Futura';
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  margin-bottom: 58px;
}
@media (max-width: 768px) {
  footer p {
    line-height: 25px;
    margin-bottom: 51px;
  }
}
footer .btn {
  width: 299px;
  height: 60px;
  border-radius: 6px;
  background-image: linear-gradient(75deg, #0c3abe, #05ddf3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Futura';
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.9px;
  color: #ededed;
  margin-bottom: 61px;
  text-transform: uppercase;
  transform: scale(1);
  transition: all .3s;
}
footer .btn:hover {
  transition: all .3s;
  transform: scale(1.02);
}
@media (max-width: 480px) {
  footer .btn {
    width: 100%;
  }
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
footer ul li {
  margin-left: 42px;
}
footer ul li:first-child {
  margin-left: 0px;
}
footer ul li a i {
  color: #ffffff;
  font-size: 20px !important;
}
footer .direitos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px rgba(119, 89, 187, 0.61);
  padding-top: 63px;
}
footer .direitos span {
  display: block;
  opacity: 0.6;
  font-family: 'Futura';
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
}
footer .direitos .dev {
  display: flex;
  align-items: center;
}
footer .direitos .dev span {
  margin: 0;
  color: #ffffff;
  margin-right: 15px;
}
.fixed-bar {
  position: fixed;
  left: 0;
  bottom: -60px;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(267deg, #3f1596, #130067);
  z-index: 20;
  display: flex;
  justify-content: center;
  transition: all .5s;
}
@media (max-width: 768px) {
  .fixed-bar {
    display: none;
  }
}
.fixed-bar.fixed {
  bottom: 0;
  transition: all .5s;
}
.fixed-bar ul {
  display: flex;
  align-items: center;
}
.fixed-bar ul li {
  margin-left: 75px;
}
.fixed-bar ul li:first-child {
  margin-left: 0px;
}
.fixed-bar ul li.active .circle {
  opacity: 1;
  background-color: #05ddf3;
  transition: all .3s;
}
.fixed-bar ul li.active .circle:before {
  content: "";
  width: 16px;
  height: 16px;
  border: solid 1px #05ddf3;
  position: absolute;
  top: -6px;
  left: -6px;
  border-radius: 50%;
  transform: scale(1);
  transition: all .3s;
}
.fixed-bar ul li.active a span {
  color: #ffffff;
  font-weight: 500;
  opacity: 1;
  transition: all .3s;
}
.fixed-bar ul li a {
  display: flex;
  align-items: center;
}
.fixed-bar ul li a .circle {
  position: relative;
  width: 6px;
  height: 6px;
  opacity: 0.6;
  background-color: #bfbfc8;
  border-radius: 50%;
  margin-right: 24px;
  transition: all .3s;
}
.fixed-bar ul li a .circle:before {
  content: "";
  transform: scale(0);
  transition: all .3s;
}
.fixed-bar ul li a span {
  opacity: 0.6;
  font-family: 'Futura';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #a2a2a8;
  text-transform: uppercase;
}
.menu-button {
  display: block;
  width: 36px;
  height: 28px;
  padding: 14px 0;
  cursor: pointer;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
a.menu-button:hover .menu-icon,
a.menu-button:hover .menu-icon::after {
  width: 36px;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-icon {
  width: 36px;
  height: 2px;
  background-color: #05ddf3;
  display: block;
  position: relative;
  float: right;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-icon::before,
.menu-icon::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #05ddf3;
  position: absolute;
  right: 0;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-icon::before {
  margin-top: -12px;
  width: 36px;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-icon::after {
  margin-top: 12px;
  width: 18px;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-opened .menu-icon {
  height: 0;
  width: 36px;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-opened .menu-icon::after {
  width: 36px;
  transform: rotate(45deg);
  margin-top: 0;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-opened .menu-icon::before {
  transform: rotate(-45deg);
  margin-top: 0;
  transition: 0.4s all cubic-bezier(0.4, -0.1, 0, 1.1);
}
.menu-opened .language,
.menu-opened .contact {
  display: none;
}
@media (max-width: 768px) {
  .menu-opened .language,
  .menu-opened .contact {
    display: block;
  }
}
@-webkit-keyframes vertical-animate {
  0%,
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(5px);
  }
}
@-moz-keyframes vertical-animate {
  0%,
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(5px);
  }
}
@-o-keyframes vertical-animate {
  0%,
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(5px);
  }
}
@keyframes vertical-animate {
  0%,
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(5px);
  }
}
.s-page-contact {
  position: relative;
  min-height: 100vh;
  padding-top: 138px;
}
.s-page-contact:after {
  content: "";
  background-color: #ffffff;
  background: no-repeat right top;
  width: 870px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  z-index: -1;
}
.s-page-contact .container {
  display: flex;
  align-items: center;
}
.s-page-contact .text {
  max-width: 522px;
  margin-right: 100px;
}
.s-page-contact .text h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: 'Futura';
  letter-spacing: -1.4px;
  color: #5c5b62;
  margin-bottom: 20px;
}
.s-page-contact .text p {
  font-size: 16px;
  line-height: 1.5;
  color: #5c5b62;
  margin-bottom: 44px;
}
.s-page-contact .text .case {
  display: flex;
  align-items: flex-start;
  margin-bottom: 42px;
  flex-direction: column;
}
.s-page-contact .text .case span {
  background-image: linear-gradient(to left, #05ddf3, #0c3abe);
  font-size: 16px;
  line-height: 1.5;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-right: 0px;
  margin-bottom: 10px;
  font-weight: bold;
}
.s-page-contact .text ul li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.s-page-contact .text ul li:last-child {
  margin-bottom: 0px;
}
.s-page-contact .text ul li .icon {
  width: 90px;
  display: flex;
  justify-content: center;
  margin-right: 32px;
}
.s-page-contact .text ul li .info h3 {
  background-image: linear-gradient(236deg, #05ddf3, #0c3abe);
  font-family: 'Futura Unicode';
  font-size: 39px;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.s-page-contact .text ul li .info h3 strong {
  background-image: linear-gradient(86deg, #05ddf3, #0c3abe);
  font-size: 14px;
  line-height: 0.79;
  font-weight: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 13px;
}
.s-page-contact .text ul li .info span {
  font-size: 18px;
  color: #5c5b62;
}
.s-page-contact .box-form {
  width: 480px;
  border-radius: 13px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 52px 60px;
}
.s-page-contact .box-form h3 {
  max-width: 300px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Futura';
  letter-spacing: -0.9px;
  color: #5c5b62;
  margin-bottom: 40px;
}
.s-page-contact .box-form form .form-group {
  position: relative;
  margin-bottom: 38px;
}
.s-page-contact .box-form form .form-group.last.focus textarea {
  padding: 12px 15px !important;
}
.s-page-contact .box-form form .form-group.focus label {
  top: -15px;
  font-size: 13px;
  transition: all .3s;
}
.s-page-contact .box-form form .form-group.focus input[type="text"],
.s-page-contact .box-form form .form-group.focus input[type="email"] {
  transition: all .3s;
}
.s-page-contact .box-form form .form-group.focus textarea {
  padding-top: 30px;
  transition: all .3s;
}
.s-page-contact .box-form form .form-group:last-child {
  margin-bottom: 0px;
}
.s-page-contact .box-form form .form-group:last-child {
  display: flex;
  justify-content: flex-end;
}
.s-page-contact .box-form form .form-group.message {
  margin-bottom: 21px;
}
.s-page-contact .box-form form .form-group.message label {
  top: 12px;
  left: 15px;
}
.s-page-contact .box-form form .form-group label {
  letter-spacing: -0.5px;
  color: #8c8998;
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 0;
  pointer-events: none;
  transition: all .3s;
}
.s-page-contact .box-form form .form-group label.error {
  position: relative;
  top: 0;
  left: 0;
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}
.s-page-contact .box-form form .form-group input[type="text"],
.s-page-contact .box-form form .form-group input[type="email"] {
  width: 100%;
  height: 35px;
  border-bottom: solid 1px rgba(151, 151, 151, 0.38);
  letter-spacing: -0.5px;
  color: #8c8998;
  font-size: 14px;
  font-family: 'Futura';
}
.s-page-contact .box-form form .form-group input[type="text"].error,
.s-page-contact .box-form form .form-group input[type="email"].error {
  border-bottom: 1px solid red;
}
.s-page-contact .box-form form .form-group textarea {
  width: 100%;
  height: 120px;
  border-radius: 7px;
  border: solid 1px #dfdfea;
  resize: none;
  padding: 12px 15px;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #8c8998;
  transition: all .3s;
  font-family: 'Futura';
}
.s-page-contact .box-form form .form-group textarea.error {
  border: 1px solid red;
}
.s-page-contact .box-form form .form-group button {
  width: 200px;
  height: 55px;
  border-radius: 7px;
  background-image: linear-gradient(81deg, #05ddf3, #0c3abe);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all .3s;
}
.s-page-contact .box-form form .form-group button:hover {
  transition: all .3s;
  transform: scale(1.03);
}
.s-page-contact .box-form form .form-group button span {
  font-family: 'Futura';
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 13px;
}
.s-page-contact .box-form form .form-group button.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: all .3s;
}
.s-page-contact .box-form form p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #8c8998;
  font-family: 'Futura';
  margin-bottom: 8px;
}
.s-page-contact .response-success {
  display: none;
}
.s-page-contact .response-success img {
  display: block;
  margin: 0 auto;
  width: 50px;
  margin-bottom: 10px;
}
.s-page-contact .response-success h4 {
  max-width: 100%;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Futura';
  letter-spacing: -0.9px;
  color: #5c5b62;
}
.s-page-contact .response-success span {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
.s-page-contact .response-success a {
  width: 299px;
  height: 60px;
  border-radius: 6px;
  background-image: linear-gradient(75deg, #0c3abe, #05ddf3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Futura;
  font-size: 20PX;
  font-weight: 500;
  letter-spacing: .9px;
  color: #ededed;
  margin-bottom: 61px;
  text-transform: uppercase;
  transform: scale(1);
  transition: all .3s;
}
.s-page-contact .response-success a:hover {
  transform: scale(1.04);
  transition: all .3s;
}
.s-page-contact .text-mobile {
  display: none;
  width: 100%;
  background: #ffffff;
  margin-top: -15px;
  padding-top: 79px;
  padding-bottom: 89px;
  flex-direction: column;
  align-items: center;
}
.s-page-contact .text-mobile .case {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}
.s-page-contact .text-mobile .case span {
  background-image: linear-gradient(to left, #05ddf3, #0c3abe);
  font-size: 16px;
  line-height: 1.5;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-right: 19px;
}
.s-page-contact .text-mobile ul li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.s-page-contact .text-mobile ul li:last-child {
  margin-bottom: 0px;
}
.s-page-contact .text-mobile ul li .icon {
  width: 90px;
  display: flex;
  justify-content: center;
  margin-right: 32px;
}
.s-page-contact .text-mobile ul li .info h3 {
  background-image: linear-gradient(236deg, #05ddf3, #0c3abe);
  font-family: 'Futura Unicode';
  font-size: 39px;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.s-page-contact .text-mobile ul li .info h3 strong {
  background-image: linear-gradient(86deg, #05ddf3, #0c3abe);
  font-size: 14px;
  line-height: 0.79;
  font-weight: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 13px;
}
.s-page-contact .text-mobile ul li .info span {
  font-size: 18px;
  color: #5c5b62;
}
@media (max-width: 1440px) {
  .s-page-contact:after {
    width: 47%;
  }
  .s-page-contact .text {
    max-width: 455px;
    margin-right: 80px;
  }
  .s-page-contact .text h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .s-page-contact .text p {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .s-page-contact .text ul li .icon {
    margin-right: 25px;
  }
  .s-page-contact .text ul li .icon img {
    max-width: 100%;
  }
  .s-page-contact .text ul li .info h3 {
    font-size: 35px;
  }
  .s-page-contact .text ul li .info span {
    font-size: 15px;
  }
  .s-page-contact .box-form {
    width: 400px;
    padding: 40px 40px;
  }
  .s-page-contact .box-form h3 {
    max-width: 240px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .s-page-contact .box-form form .form-group {
    margin-bottom: 33px;
  }
  .s-page-contact .box-form form .form-group textarea {
    height: 90px;
  }
  .s-page-contact .box-form form .form-group button {
    width: 180px;
    height: 50px;
  }
}
@media (max-width: 991px) {
  .s-page-contact {
    padding-top: 120px;
    padding-bottom: 0;
  }
  .s-page-contact:after {
    width: 100%;
  }
  .s-page-contact .container {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .s-page-contact .text {
    max-width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 67px;
  }
  .s-page-contact .text h2 {
    color: #ffffff;
    text-align: center;
  }
  .s-page-contact .text p {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    color: #ffffff;
  }
  .s-page-contact .text .case {
    display: none;
  }
  .s-page-contact .text ul {
    display: none;
  }
  .s-page-contact .box-form {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 40px 40px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06);
  }
  .s-page-contact .box-form h3 {
    max-width: 100%;
    font-size: 24px;
  }
  .s-page-contact .text-mobile {
    display: flex;
  }
}
@media (max-width: 480px) {
  .s-page-contact .text p {
    width: 100%;
    font-size: 16px;
    max-width: 302px;
    line-height: 1.5;
  }
  .s-page-contact .box-form {
    padding: 57px 28px;
  }
  .s-page-contact .box-form h3 {
    max-width: 265px;
  }
  .s-page-contact .box-form form .form-group textarea {
    height: 120px;
  }
  .s-page-contact .text-mobile ul li .icon {
    width: 82px;
    margin-right: 20px;
  }
  .s-page-contact:after {
    width: 100%;
    height: 370px;
  }
}
#motion {
  width: 900px;
  height: 720px;
  margin-top: -75px;
  margin-left: 40px;
}
@media (max-width: 1300px) {
  #motion {
    width: 700px;
    height: 550px;
  }
}
@media (max-width: 768px) {
  #motion {
    width: 450px;
    height: 350px;
    margin-top: 0;
    margin-left: 0px;
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(85deg, #05ddf3, #0c3abe);
  opacity: 1;
  pointer-events: none;
  transition: all .4s;
}
.loading img {
  width: 100px;
}
.loading.hide {
  opacity: 0;
  transition: all .4s;
}
html.pt-br .text-lg {
  font-size: 92px !important;
}
html.pt-br .featured-area .featured-text p {
  max-width: 590px;
}
html.pt-br .s-integrate-system .text {
  width: 520px;
}
html.pt-br .s-pillars .text-geral h2 {
  max-width: 445px;
}
html.pt-br .box-demo .title img {
  margin-right: 25px;
}
html.pt-br .box-demo .title h2 {
  width: 425px;
  font-size: 25px;
}
html.pt-br .s-modules .area-slide .slide-itens-modules .swiper-slide .box-module p {
  font-size: 14px;
}
html.pt-br .s-page-contact .box-form h3 {
  font-size: 21px;
}
html.pt-br .slide-featured .box-white h2 {
  font-size: 19px;
}
html.pt-br .slide-featured .box-white p {
  font-size: 13px;
}
@media (max-width: 1440px) {
  html.pt-br .text-lg {
    font-size: 80px!important;
  }
}
@media (max-width: 1300px) {
  html.pt-br .text-lg {
    font-size: 76px!important;
  }
}
@media (max-width: 768px) {
  html.pt-br .text-lg {
    font-size: 38px!important;
  }
}
@media (max-width: 480px) {
  html.pt-br .s-integrate-system .text {
    width: 100%;
  }
  html.pt-br .s-page-contact .text p {
    max-width: 345px;
  }
}
